{% extends "base.html" %}

{% block title %}
    Account
{% endblock title %}
{% block content %}
    <main>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% if user.is_authenticated %}
                        {% for accounts in account.all %}
                            <tr>
                                <td>{{ accounts.name }}</td>
                                <td>{{ accounts.number }}</td>
                                <td>{{ accounts|length }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </div>
        </main>
    {% endblock content %}
