{% extends "base.html" %}

{% block title %}
    Expenses
{% endblock title %}
{% block content %}
    <main>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses.all %}
                        <tr>
                            <td>{{ expense.name }}</td>
                            <td>{{ expense.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </div>
        </main>
    {% endblock content %}
